<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Sentiment Analyzer</title>
  <!-- <script src="../js/formHandler.js" ></script> -->
</head>

<body>
  <main>
    <div class="container">
      <p>Enter a URL of an article </p>
      <section>
        <!-- <script  src="../js/formHandler.js" ></script> -->
        <form id="form" onsubmit="return Client.handleSubmit(event)">
          <label for="article-url">URL</label>
          <input id="url" type="text" name="url" value="" placeholder="Enter Article URL here" />
          <input onclick="return Client.handleSubmit(event)" type="submit" id="submit" value="Submit"
            onsubmit="return Client.handleSubmit(event)">

          <!-- <button onclick="return Client.handleSubmit(event)" type="submit" id="submit" >Submit</button> -->
          <!-- <a onclick="handleSubmit()" href="#" >Submit</a> -->
          <!-- <a href="javascript:alert('Hello!');">Clicky</a> -->
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <p>Agreement: <span id="agreement"></span></p>        
        <p>Subjectivity: <span id="subjectivity"></span></p>        
        <p>Confidence: <span id="confidence"></span></p>      
        <p>Irony: <span id="irony"></span></p>        
        <p>Score Tag: <span id="score_tag"></span></p>
        
      </section>
      <!-- https://learn.meaningcloud.com/developer/sentiment-analysis/2.1/doc/response

    agreement	
    Marks the agreement between the sentiments detected in the text, 
    the sentence or the segment it refers to. 
    It has two possible values:
      AGREEMENT: the different elements have the same polarity.
      DISAGREEMENT: there is disagreement between the different elements' polarity.

    score_tag	
      Polarity of the element it refers to: global polarity,polarity_term,
      sentimented_concept, sentimented_entity, segment or sentence. 
      Possible values:
          P+: strong positive
          P: positive
          NEU: neutral
          N: negative
          N+: strong negative
          NONE: without polarity
    irony	
    Indicates the irony of the text. 
    It has two possible values:
    NONIRONIC: the text does not have any irony marks.
    IRONIC: the text has irony marks.
      -->

    </div>
  </main>
  <!-- <script  type="text/javascript" src="../js/formHandler.js" ></script> -->

  <!-- <script>
    function handleSubmit(){
      alert("is this defined")
    }
  </script> -->
  <script src="../js/formHandler.js"></script>
  <!-- <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
        })
      }
    </script> -->
</body>

</html>